.main_wrap .addImage {
    border: 1px solid black;
    width: 50%;
    height: 50vh;
}

.addImage {
    /* width: 400px;
    height: 300px; */
    background-color: light-gray;
    /* overflow: hidden; */
    margin: 0 10% 2% 0;
}

#yes {
    position: relative;
    margin-top: 5%;
    margin-left: 43%;