<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->
<!--    <typeAliases>-->
<!--        <typeAlias type="com.final2.readytomeet.dto.UserDto" alias="userDto" />-->
<!--    </typeAliases>-->
<!--    <mappers>-->
<!--        <mapper resource="/mybatis/mapper/UserMapper.xml"/>-->
<!--    </mappers>-->
<!--</configuration>-->