@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }


    body {
            font-family: 'Pretendard-Regular', sans-serif;
            background-color: #F77777;
    }

    /* 중앙에 위치한 박스 스타일 */
    .center-box {
            width: 500px;
            height: 800px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0.8rem;
            padding: 50px;
            background-color: white;
     }
    
    h1 {
        display: block;
        font-size: 200%;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    /* 가입하기 버튼 스타일 */
    button[type="submit"] {
            width: 100%;
            margin-top: 10px;
            background-color: #FF7777;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            display: inline-block;
            font-size: 100%;
            cursor: pointer;
            border-radius: 5px;
    }

    /* 인증번호 받기 버튼 스타일 */
   #phoneChk {
           margin-top: 10px;
           background-color: #FF7777;
           border: none;
           color: white;
           padding: 10px 20px;
           text-align: center;
           text-decoration: none;
           font-size: 50%;
           cursor: pointer;
           border-radius: 5px;
           width:18%;
           font-size: 75.0%;
    }
    #phoneChk2 {
           margin-top: 10px;
           background-color: #FF7777;
           border: none;
           color: white;
           padding: 10px 20px;
           text-align: center;
           text-decoration: none;
           font-size: 50%;
           cursor: pointer;
           border-radius: 5px;
           width:24%;
           font-size: 75.0%;
    }

    .joinContent{
        	position: relative;
            width: 100%;
            margin-bottom: 15px;
        }
        .joinContent>label {
            width: 30%;
            display: inline-block;
        }
        .joinContent>input {
            width:68%;
            height: 40px;
            box-sizing: border-box;
            display: inline-block;
            border: 0.7px solid rgb(185, 184, 184);
            border-radius: 0.5rem;
        }

        .joinContent > input#password_confirm {
        	width: 34%;
        	height: 40px;
            box-sizing: border-box;
            display: inline-block;
            border: 0.7px solid rgb(185, 184, 184);
            border-radius: 0.5rem;
    	}

        #password_error {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 87.5%;
        color: red;
    	}

        #id{
            width: 43%;
        }
        #nickname{
        	width: 43%;
        }
        #phone{
            width: 43%;
        }
        #phone2{
            width: 43%;
        }
        .point.successPhoneChk {
        padding-left: 31%;
    	}
        #address{
            width: 43%;
        }
        #email{
            width: 22%;
        }
        #emailDomain{
            width: 22%;
        }
        .select-gender {
            display: flex;
            align-items: center;
        }

        .select-gender>label {
            margin-right: 10px;
        }
        .select-gender>input[type="radio"] {
            margin-right: 5px;
        }