* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.main_content {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 50%;
    box-sizing: border-box;
}

.left_top {
    width: 100%;
    margin: 1%;
}

.google_map {
    width: 89%;
    height: 20%;
    float: left;
    margin-left: 4.5%;
    margin-bottom: 1%;
}

.calendar {
    background-color: #bbbbbb;
    width: 40%;
    height: 200px;
    float: left;
    margin-left: 1%;
    border-radius: 1%;
    padding-top: 20%;
}

#mapBtn {
    padding: 10px;
    background-color: #ff7777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 13%;
    float: right;
    margin-top: 2%;
}

.popular_meet {
    background: hsl(209, 59%, 90%);
    height: 1000px;
    width: 100%;
    float: left;
    margin: 1%;
    border-radius: 1%;
}

.middle_category {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color: #626262;
    padding: 1%;
}

.right {
    width: 43%;
    float: left;
    box-sizing: border-box;
    border-radius: 1%;
}

.left_bottom {
    margin-top: 1%;
}

.box {
    background-color: #f1f1f1;
    display: flex;
    margin-bottom: 3%;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    width: 100%;
    padding: 3%;
}

.date {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: auto;
    margin-bottom: auto;
}

.place {
    color: #ff7777;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: auto;
    margin-bottom: auto;
}

.detailBtn {
    padding: 10px;
    background-color: #ff7777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
    justify-content: flex-end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detailBtn2 {
    padding: 10px;
    background-color: #ff7777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    justify-content: flex-end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;

}

.more {
    float: right;
    margin-right: 8%;
    color: red;
    background-color: #ff7777;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.weather-container {
    position: absolute;
    bottom: 2%;
    left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 3%;
    left: 5%;
    margin: 1%;
    padding: 1%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #ff7777;
}

.weather .weather-icon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
}

.weather p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #555;
}

.weather .temperature {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.weather .description {
    font-size: 1rem;
    color: #777;
}

.weather .details {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.weather .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.weather .detail p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #777;
}

.weather .detail-value {
    font-weight: bold;
    color: #333;
}

.weather hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 1.5rem 0;
}


[v-cloak] {
    display: none;
}
.chatrooms {
    width: 90%;
    margin: 0 auto;
}

.container {
    margin-top: 10px;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.list-group-item {
    background-color: #f1f1f1;
    color: #ff7777;
    display: flex;
    margin-bottom: 1%;
    border-radius: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease, color 0.3s ease; /* 트랜지션 효과 추가 */
}

.list-group-item:hover {
    background-color: #ff7777;
    color: #f1f1f1;
    cursor: pointer;
}

.list-group-item:last-child {
    margin-bottom: 0;
}

.room-separator {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
}

h5 {
    float: right;
    margin-top: 10px;
}

h5 a {
    color: #FF7777;
    text-decoration: none;
}

h5 a:hover {
    text-decoration: underline;
}
