*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

.wrap div{
    padding: 0.2%;
}

.table {
    list-style-type: none;
}





.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 0.875rem; 기본 14px */
    font-family: Inter;
    overflow: hidden;
    margin-top: 3%;
}


.wrap_com{
    width: 70%;
}


.box1 {
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-bottom: 0.2%;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.user_id {
    width: 20%;
}
.box1 .user_id {
    text-align: center;
}

.user_name {
    width: 20%;
}

.user_nickname {
    width: 20%;
}

.user_email {
    width: 20%;
}


.box2 {
    border: 0.128rem solid #FDBFBB;
    display: flex;
    align-items: center;
    margin-bottom: 0.2%;
    border-radius: 5px;
    width: 100%;
}

.box2 div {
    width: 20%;
}