    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }
    body {
        font-family: 'Pretendard-Regular', sans-serif;
        background-color: #F77777;
    }
    /* 중앙에 위치한 박스 스타일 */
    .center-box {
        width: 26%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border: 2px solid black;
        border-radius: 4%;
        padding-bottom: 0.5%;
        padding-left: 2%;
        padding-right: 2%;
    }
    h1 {
        display: block;
        font-size: 250%;
        margin-block-start: 6%;
        margin-block-end: 6%;
        margin-inline-start: 0%;
        margin-inline-end: 0%;
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 15%;
    }
    /* 가입하기 버튼 스타일 */
    button[type="submit"] {
        width: 100%;
        margin-top: 15%;
        background-color: #F77777;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 130%;
        cursor: pointer;
    }

    .findContent{
        width: 100%;
        margin-top: 4%;
    }
    .findContent>label {
        width: 30%;
        display: inline-block;
    }
    .findContent>input {
        width:68%;
        height: 40px;
        box-sizing: border-box;
        display: inline-block;
        border: 0.7px solid rgb(185, 184, 184);
        border-radius: 0.5rem;
    }

    .hidden {
        display: none;
    }

    .announcement {
        font-size: 180%;
    }

    button {
        width: 100%;
        margin-top: 15%;
        background-color: #F77777;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 130%;
        cursor: pointer;
    }