* {
    box-sizing: border-box;
    outline: none;
}

b {
    font-size: large;
}

/*---------------------------------- main ----------------------------------*/
.main_wrap {
    display: flex;
    margin-left: 15%;
    margin-top: 3%;
    width: 100%;
    height: 100%;
    margin-top: 7%;
}

.main_wrap .addImage {
    border: 1px solid black;
    width: 70%;
    height: 30%;
}

.inputImg {
    width: 15%;
    margin-left: 10%;

}

.addImage {
    background-color: lightgray;
    overflow: hidden;
    margin: 0 1% 5% 0;
    object-fit: cover;
}

#submit {
    display: inline-block;
    margin-left: 65%;
}


#main .field {
    margin: 3% 0;
}

.main b {
    margin: 2%;
    display: block;
}

.content {
    text-align: center;
    width: 15%;
    margin-left: 0.1%;
    padding: 0 1%;
    margin-bottom: 3%;
}


.textarea {
    width: 100%;
    height: 15vh;
    border: 1px solid black;
}

.field {
    border: 1px solid black;
    height: 6%;
}

.field div {
    height: 1vh;
    /* width: 100vw; */
}

.button {
    display: inline-block;
    margin-top: 2%;
    margin-left: 50%;
}


/* 지금까지 내가 갔던 장소 */
.box {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

.list {
    display: flex;
    align-items: center;
    width: 100%;
}

.content1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
}

.date {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}

.writer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
    text-align: right;
}

.paging {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.box {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}


.page-content {
    width: 10%;
    height: 100%;
    margin: 5%;
    margin-top: 0.1%;
}


.place {
    text-align: center;
    border: 1px solid black;
    height : 20vw;
    width: 20vw;
    padding: 2%;
    margin-top: 10%;
}

.place nav ul li a {
    text-decoration: none;
    color: #626262;
    padding: 2px;
}
