<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL</title>
    <link rel="stylesheet" href="../css/jinha.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<nav>
    <ul>
        <li class="liLogo"><a href="#"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/appointment/activityList/all">ACTIVITY</a> </li>
        <li><a href="/appointment/vehicleList/all">VEHICLE</a> </li>
        <li><a href="/appointment/workList/all">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>
        </li>
        <li class="liMypage"><a href="#"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<div class="wrap">

    <section class="activity_title">
        <span class="category_ment1">ACTIVITY</span>
    </section>
    <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
    <div class="wrap_com">
        <div class="box" th:each="list: ${activityList}">
            <div class="list">
                <div class="title" th:text="${list.appo_place}">장소</div>
                <div class="content">
                    <a th:text="${list.appo_title}" th:href="@{/appointment/detailActivity(appo_seq=${list.appo_seq})}"></a>
                </div>
                <div class="date" th:text="${list.appo_date1}"></div>
            </div>
        </div>
        <div class="more"><a href="/appointment/activityList/all">더보기</a></div>
    </div>


    <section class="activity_title">
        <span class="category_ment1">WORK</span>
    </section>
    <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
    <div class="wrap_com">
        <div class="box" th:each="list: ${workList}">
            <div class="list">
                <div class="title" th:text="${list.appo_place}">장소</div>
                <div class="content">
                    <a th:text="${list.appo_title}" th:href="@{/appointment/detailWork(appo_seq=${list.appo_seq})}"></a>
                </div>
                <div class="date" th:text="${list.appo_date1}"></div>
            </div>
        </div>
        <div class="more"><a href="/appointment/workList/all">더보기</a></div>
    </div>


    <section class="activity_title">
        <span class="category_ment1">VEHICLE</span>
    </section>
    <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
    <div class="wrap_com">
        <div class="box" th:each="list: ${vehicleList}">
            <div class="list">
                <div class="title" th:text="${list.appo_place}">장소</div>
                <div class="content">
                    <a th:text="${list.appo_title}" th:href="@{/appointment/detailVehicle(appo_seq=${list.appo_seq})}"></a>
                </div>
                <div class="date" th:text="${list.appo_date1}"></div>
            </div>
        </div>
        <div class="more"><a href="/appointment/vehicleList/all">더보기</a></div>
    </div>
</div>
<footer>Copyright &copy; Team 2 in FinalProject 2023</footer>
</body>
</html>