<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL</title>
    <link rel="stylesheet" href="../css/jinha.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
<nav>
    <ul>
        <li class="liLogo"><a href="#"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="#">All</a> </li>
        <li><a href="#">ACTIVITY</a> </li>
        <li><a href="#">VEHICLE</a> </li>
        <li><a href="#">WORK</a> </li>
        <li><a href="#">Community</a> </li>
        <li>
            <span class="search-container">
                <input type="text" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </span>
        </li>
        <li class="liMypage"><a href="#"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>


<div class="wrap">
    <div class="activity_title">
        <h1>ACTIVITY</h1>
    </div>
    <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
    <div class="box">
        <div class="list">
            <div class="title">서울역 1번 출구 투썸</div>
            <div class="content"><a href="">5월 24일 10:30 ~ 17:30 페이 100,000</a></div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">세종대역 컴포즈커피</div>
            <div class="content"><a href="">커피마실사람</a></div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">홍대입구 김밥천국</div>
            <div class="content"><a href="">오는은 김밥이 먹고싶어진다.</a></div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">신촉역 서브웨이</div>
            <div class="content"><a href="">서브웨이 조지실분?!!!</a></div>
        </div>
    </div>
    <div class="more"><a href="">더보기</a></div>
</div>
<div class="wrap">
    <div class="work_title">
        <h1>WORK</h1>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">서울역 1번 출구 투썸</div>
            <div class="content"><a href="">5월 24일 10:30 ~ 17:30 페이 100,000</a></div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">세종대역 컴포즈커피</div>
            <div class="content"><a href="">커피마실사람</a></div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">홍대입구 김밥천국</div>
            <div class="content"><a href="">오는은 김밥이 먹고싶어진다.</a></div>
        </div>
    </div>
    <div class="more"><a href="">더보기</a></div>
</div>
<div class="wrap">
    <div class="vehicle_title">
        <h1>VEHICLE</h1>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">도봉산 여의나루역</div>
            <div class="content"><a href="">여의나루까지 태워드려요</a></div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">혜화 낙산공원</div>
            <div class="content"><a href="">★꿀일손★ 라면 끓여주기. 최고시급!</a></div>
        </div>
    </div>
    <div class="more"><a href="">더보기</a></div>
</div>
<footer>Copyright &copy; Team 2 in FinalProject 2023</footer>
</body>
</html>