<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/jinha.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function getSearchList(){
          $.ajax({
            type: 'GET',
            url : "/getSearchList",
            data : $("form[name=search-form]").serialize(),
            success : function(result){
              //테이블 초기화
              $('#boardtable > tbody').empty();
              if(result.length>=1){
                result.forEach(function(item){
                  str='<tr>'
                  str += "<td>"+item.idx+"</td>";
                  str+="<td>"+item.writer+"</td>";
                  str+="<td><a href = '/board/detail?idx=" + item.idx + "'>" + item.title + "</a></td>";
                  str+="<td>"+item.date+"</td>";
                  str+="<td>"+item.hit+"</td>";
                  str+="</tr>"
                  $('#boardtable').append(str);
                    })
              }
            }
          })
        }
    </script>
</head>
<body>
<!--해더 영역-->
<nav>
    <ul>
        <li class="liLogo"><a href="#"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/appointment/activityList/all">ACTIVITY</a> </li>
        <li><a href="/appointment/vehicleList/all">VEHICLE</a> </li>
        <li><a href="/appointment/workList/all">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>
        </li>
        <li class="liMypage"><a href="/user/View"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<div class="wrap">
    <article class="wrap_appointment_sort_search">

        <div class="appointment_search_container">

            <div class="show_sub_category_container">
                <span class="show_sub_category">COMMUNITY </span>
                <span class="show_sub_category"> > </span>
                <span class="show_sub_img">*ㅁ*</span>
            </div>

            <form action="/community/list" method="GET">
                <!--셀렉트 박스-->
                <select id="type" name="type">
                    <option value="all">전체</option>
                    <option value="share_title">제목</option>
                    <option value="share_content">내용</option>
                    <option value="user_nickname">작성자</option>
                </select>
                <input type="search" id="search" name="keyword" placeholder="약속 세부 검색...">
                <input type="submit" value="검색">
            </form>
        </div>
    </article>
    <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
    <div th:each="share : ${communityList}" class="wrap_com">
        <div class="box">
            <div class="list">
                <div th:text="${share.share_category}" class="title"></div>
                <div class="content">
                    <a th:text="${share.share_title}" th:href="@{/community/view(share_seq=${share.share_seq})}"></a>
                </div>
                <div th:text="${#dates.format(share.share_time, 'yy.MM.dd')}" class="date"></div>
                <div th:text="${share.user_nickname}" class="writer"></div>
                <div th:text="${share.share_view}" class="view"></div>
            </div>
        </div>
    </div>
    <!-- 페이징 처리하면됨 어떻게할지는 차차... -->
    <div class="pagination-container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{list?page=1}" aria-label="Previous" th:text="'<<'"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{list?page={page} (page = ${pagination.prevBlock})}" aria-label="Previous" th:text="'<'"></a>
                </li>
                <th:block th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                    <li th:each="pageButton : ${#numbers.sequence(start, end)}">
                        <a class="page-link"
                           th:href="@{list?page={page} (page = ${pageButton})}"
                           th:text=${pageButton}
                           th:style="${pagination.page == pageButton} ? 'background-color: #FF7777; color: white;' : ''"></a>
                    </li>
                </th:block>
                <li class="page-item">
                    <a class="page-link" th:href="@{list?page={page} (page = ${pagination.nextBlock})}" aria-label="Next"  th:text="'>'"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{list?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Next"  th:text="'>>'"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="create">
        <a href="/community/write">
            <img src="../image/create.png">
        </a>
    </div>
</div>
<footer>Copyright &copy; Team 2 in FinalProject 2023</footer>
</body>
</html>