<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>생성페이지</title>
    <link rel="stylesheet" href="css/jinha.css">
</head>
<body>
<nav>
    <ul>
        <li class="liLogo"><a href="#"><img src="image/logo.png" class="imgLogo"></a></li>
        <li><a href="#">All</a></li>
        <li><a href="#">ACTIVITY</a></li>
        <li><a href="#">VEHICLE</a></li>
        <li><a href="#">WORK</a></li>
        <li><a href="#">Community</a></li>
        <li>
            <span class="search-container">
                <input type="text" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </span>
        </li>
        <li class="liMypage"><a href="#"><img src="image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>
<div class="wrap">
    <div class="community_title">
        <h1>COMUNITY</h1>
    </div>
    <div class="dropdown">
        <form action="#">
            <select name="header" id="head">
                <option value="header">머리글</option>
                <option value="like">이가게 좋아요</option>
                <option value="sale">할인정보</option>
            </select>
        </form>
    </div>
    <div class="container">
        <div class="main">
            <h3 class="community_produce">제목</h3>
            <input type="text" class="community_title" placeholder="제목을 입력하세요...">
        </div>
        <div class="main">
            <h3 class="community_produce">내용</h3>
            <textarea class="community_content" placeholder="내용을 입력하세요..."></textarea>
            <button class="image_button">이미지 첨부</button>
        </div>
    </div>
    <div class="community_floor">
        <input type="submit" value="등록" class="button">
    </div>
</div>
<footer>Copyright &copy; Team 2 in FinalProject 2023</footer>
</body>
</html>