<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/jinha.css">
</head>
<body>
<nav>
    <ul>
        <li class="liLogo"><a href="#"><img src="image/logo.png" class="imgLogo"></a></li>
        <li><a href="#">All</a></li>
        <li><a href="#">ACTIVITY</a></li>
        <li><a href="#">VEHICLE</a></li>
        <li><a href="#">WORK</a></li>
        <li><a href="#">Community</a></li>
        <li>
            <span class="search-container">
                <input type="text" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </span>
        </li>
        <li class="liMypage"><a href="#"><img src="image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>
<div class="wrap">
    <div class="activity_title">
        <h1>COMMUNITY</h1>
    </div>
    <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">할인정보</div>
            <div class="content"><a href="">홍대입구 개고기 </a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="box">
        <div class="list">
            <div class="title">이가게 좋아요</div>
            <div class="content"><a href="">홍대입구 개고기 폼 미쳤다!!!!</a></div>
            <div class="date">5/20</div>
            <div class="writer">도봉순</div>
        </div>
    </div>
    <div class="create">
        <a href="">
            <img src="image/create.PNG">
        </a>
    </div>
    <!-- 페이징 처리하면됨 어떻게할지는 차차... -->
    <div class="paging">
        <a href="#" class="bt first"><<</a>
        <a href="#" class="bt prev"><</a>
        <a href="#" class="num on">1</a>
        <a href="#" class="num">2</a>
        <a href="#" class="num">3</a>
        <a href="#" class="num">4</a>
        <a href="#" class="num">5</a>
        <a href="#" class="bt next">></a>
        <a href="#" class="bt last">>></a>
    </div>
</div>
<footer>Copyright &copy; Team 2 in FinalProject 2023</footer>
</body>
</html>