<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resource/css/dd.css">
</head>
<body>
    <nav>
        <ul>
            <li class="liLogo"><a href="#"><img src="resource/img/logo.png" class="imgLogo"></a></li>
            <li><a href="#">All</a> </li>
            <li><a href="#">ACTIVITY</a> </li>
            <li><a href="#">VEHICLE</a> </li>
            <li><a href="#">WORK</a> </li>
            <li><a href="#">Community</a> </li>
            <li>
                <span class="search-container">
                    <input type="text" placeholder="약속을 찾아봐요!">
                    <input type="submit" value="Search">
                </span>
            </li>
            <li class="liMypage"><a href="#"><img src="resource/img/mypage.png" class="imgMypage"></a></li>
        </ul>
    </nav>
</body>
</html>