<!DOCTYPE html>
<html lang="ko">
<head>
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/common.css">
  <meta charset="UTF-8">
</head>
<body>
<!-------------- header --------------->
<nav>
  <ul>
    <li class="liLogo"><a href="/main"><img src="../image/logo.png" class="imgLogo"></a></li>
    <li><a href="/all">All</a> </li>
    <li><a href="/activity">ACTIVITY</a> </li>
    <li><a href="/vehicle">VEHICLE</a> </li>
    <li><a href="/work">WORK</a> </li>
    <li><a href="/community/list">Community</a> </li>
    <li>
      <form action="/search" method="GET" class="search-container">
        <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
        <input type="submit" value="Search">
      </form>
    </li>
    <li class="liMypage"><a href="/user/View"><img src="../image/mypage.png" class="imgMypage"></a></li>
  </ul>
</nav>


<!-------------- main --------------->

<div class="header">
  <h1 href="">Ready To Meet <br> with us?</h1>
  <div>
    <h3>당신과 이웃들을 연결하는 동네 약속 커뮤니티, Ready to Meet! <br>함께 약속을 만들고 즐겁게 만나보세요.</h3>
    <!-- Sign In 버튼 -->
    <a class="button" href="/login">Sign In</a>
    <!-- Sign Up 버튼 -->
    <a class="button" href="/joinForm">Sign Up</a>
  </div>
</div>

<div class="section">
  <div class="image">
    <img src="../image/index/index1.jpg"/>
  </div>
  <div class="text">
    <h2>우리 동네 약속 커뮤니티</h2>
    <h4>동네 주민들과 약속을 통해 만남을 지금 경험해보세요.</h4>
    <div class="buttons">
      <button class="button" type="button">인기약속보기</button>
      <button class="button" type="button">전체후기보기</button>
    </div>
  </div>
</div>

<!-- <hr> -->

<div class="header">

  <div class="text">
    <h2>그룹, 1:1 채팅을 통해 동네 주민과 <br>약속을 잡고 만나요!</h2>
    <div class="buttons">
      <button class="button" type="button">Activity</button>
      <button class="button" type="button">Vehicle</button>
    </div>
    <div>
      <button class="button" type="button">Work</button>
      <button class="button" type="button">Community</button>
    </div>
  </div>
  <div class="image">
    <img src="../image/index/index2.jpg"/>
  </div>
</div>

<!-- <hr> -->

<div class="section">
  <div class="image">
    <img src="../image/index/index3.jpg"/>
  </div>
  <div class="text">
    <h2>동네생활을 함께 즐기세요!</h2>
    <h4>Ready to Meet을 통해 이웃과 함께하는 동네생활을 경험해보세요.</h4>
    <div class="buttons">
      <button class="button" type="button">지금 시작하기</button>
    </div>
  </div>
</div>
<footer>&copy; Team 2 in FinalProject 2023</footer>
</body>
</html>