<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" href="../css/login.css">
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	var error = /*[[${error}]]*/ null;
	if (error) {
		$(document).ready(function() {
			alert(error);
		});
	}
	/*]]>*/
	/*<![CDATA[*/
	var success = /*[[${success}]]*/ null;
	if (success) {
		alert(success);
		window.location.href = '/main';
	}
	/*]]>*/
	/*]]>*/
</script>


<body>
<div class="outer1">
	<div class="outer2">
		<div class="header">
			<img class="logo" src="https://cdn.discordapp.com/attachments/1110114711208460353/1111966778457858068/2023-05-27_7.38.49.png">
		</div>
		<div class="body">
			<form method="post" action="/login">
				<div class="loginForm">
					<label for="floatingId">ID</label> <input type="text" id="floatingId" name="user_id">
				</div>
				<div class="loginForm">
					<label for="floatingPw">Password</label> <input type="password" id="floatingPw" name="user_pw">
				</div>
				<button id="submitButton" type="submit">로그인</button>
				<ul>
					<li><a href="/login/join">회원가입</a></li>
					<li><a href="/login/find">비밀번호 찾기</a></li>
				</ul>
				<br>
			</form>
		</div>
	</div>
</div>
</body>
</html>