<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	<link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
	<div class="outer1">
		<div class="outer2">
			<div class="header">
				<img class="logo" src="https://cdn.discordapp.com/attachments/1110114711208460353/1111966778457858068/2023-05-27_7.38.49.png">
			</div>
			<div class="body">
				<form method="post" action="">
					<div class="loginForm">
						<label for="floatingId">ID</label> <input type="text" id="floatingId" name="user_id">
					</div>
					<div class="loginForm">
						<label for="floatingPw">Password</label> <input type="password" id="floatingPw" name="user_pw">
					</div>
					<button id="submitButton" type="submit">로그인</button>
					<ul>
						<li><a href="/join">회원가입</a></li>
						<li><a href="/find">비밀번호 찾기</a></li>
					</ul>
					<hr>
					<br>
					<a href="https://kauth.kakao.com/oauth/authorize?client_id=464e1b3f69dc1186658ba3def0b52ead&redirect_uri=http://localhost:8080/login/kakao/callback&response_type=code">
						<img src="../image/kakao.png" alt="카카오 로고" style="height: 60px; vertical-align: middle;">
					</a>

				</form>
			</div>
		</div>
	</div>
</body>
</html>