
<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>만남의 시작 / 혼자보단 같이 / Ready To Meet</title>
  <link href="../css/main.css" rel="stylesheet" />
  <link href="../css/common.css" rel="stylesheet" />

</head>
<body>


<nav>


  <ul>
    <li class="liLogo"><a href="#"><img src="../image/logo.png" class="imgLogo"></a></li>
    <li><a href="#">All</a> </li>
    <li><a href="#">ACTIVITY</a> </li>
    <li><a href="#">VEHICLE</a> </li>
    <li><a href="#">WORK</a> </li>
    <li><a href="#">Community</a> </li>
    <li>
                <span class="search-container">
                    <input type="text" placeholder="약속을 찾아봐요!">
                    <input type="submit" value="Search">
                </span>
    </li>
    <li class="liMypage"><a href="#"><img src="../image/mypage.png" class="imgMypage"></a></li>
  </ul>


</nav>

<div class="row">
  <div class="left">
    <div class="top">
      <div class="weather">
        날씨가 표시될 위치
      </div>
      <div class="calendar">
        달력이 표시될 위치
      </div>
    </div>
    <div class="bottom">
      <div class="middle_category"> 인기있는 약속</div>
      <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
      <div class="box">
        <div class="list">
          <div class="place">서울역 1번 출구 투썸</div>
          <div class="date"> 2023-05-12 </div>
          <button class="detail"> 상세보기</button>
        </div>
      </div>


    </div>
  </div>
  <div class="right">
      <div class="middle_category">스케줄러</div>
      <!-- 반복해서 만들도록 설정(타임리프로 할듯) -->
      <div class="box">
        <div class="list">
          <div class="place">스케줄러 1번 출구 투썸</div>
          <div class="date"> 2023-05-12 </div>
          <button class="detail"> 상세보기</button>
        </div>
      </div>
      <div class="box">
        <div class="list">
          <div class="place">세종대역 컴포즈커피</div>
          <div class="date"> 2023-05-12 </div>
          <button class="detail"> 상세보기</button>
        </div>
      </div>
      <div class="box">
        <div class="list">
          <div class="place">홍대입구 김밥천국</div>
          <div class="date"> 2023-05-12 </div>
          <button class="detail"> 상세보기</button>
        </div>
      </div>
      <div class="box">
        <div class="list">
          <div class="place">신촉역 서브웨이</div>
          <div class="date"> 2023-05-12 </div>
          <button class="detail"> 상세보기</button>
        </div>
      </div>
      <div class="more"><a href="">더보기</a></div>
    </div>
</div>




<br>
<br>
<footer>&copy; Team 2 in FinalProject 2023</footer>

</body>
</html>

