<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/memberlist.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet" />
    <title>회원목록</title>
</head>
<body>
<nav>
    <ul>
        <li class="liLogo"><a href="#"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all/list">All</a> </li>
        <li><a href="/appointment/activityList/all">ACTIVITY</a> </li>
        <li><a href="/appointment/vehicleList/all">VEHICLE</a> </li>
        <li><a href="/appointment/workList/all">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li><a href="/member/list">회원리스트</a></li>

        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>

        </li>
        <li class="liMypage"><a href="/user/readuser"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<div class="wrap">
    <div class="wrap_com">
        <div class="box1">
            <div class="id">번호</div>
            <div class="user_id">아이디</div>
            <div class="user_name">이름</div>
            <div class="user_nickname">닉네임</div>
            <div class="user_email">이메일</div>
        </div>
    </div>

    <div th:each="user : ${list}" class="wrap_com">
        <div class="box2">
            <a th:href="@{/user/readuser(id=${user.id})}"><div th:text="${user.id}" class="id2"></div></a>
            <div th:text="${user.user_id}" class="user_id2"></div>
           <div th:text="${user.user_name}" class="user_name2"></div>
           <div th:text="${user.user_nickname}" class="user_nickname2"></div>
           <div th:text="${user.user_email}" class="user_email2"></div>
        </div>
    </div>
</div>

</div>


</body>
</html>