<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/mypage.css">
    <link rel="stylesheet" href="../css/common.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>


    <script>
        // 마이페이지 수정
        function mypageUpdate2() {
            window.location.href = 'mypageUpdate2.html'
        }
    </script>

</head>
<body>
<!-------------- header --------------->
<nav>
    <ul>
        <li class="liLogo"><a href="/main"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/activity">ACTIVITY</a> </li>
        <li><a href="/vehicle">VEHICLE</a> </li>
        <li><a href="/work">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <span class="search-container">
                <input type="text" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </span>
        </li>
        <li class="liMypage"><a href="/mypage"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<!-------------- main --------------->
<div id="main">
    <section class="main">
        <div class="main_wrap">
            <form class="inputImg" method="post" action="/image/write" enctype="multipart/form-data">
                <div class="addImage" id="image-show">
                    <img th:src="@{/download/{filename}(filename=${dto?.filename})}" alt="no-img" />
                </div>
                <input type="file" name="file">
                <input type="submit" id="submit" value="사진변경"/>
            </form>
            <div class="content">
                <b>닉네임</b>
                <div class="field">
                    <div>${NICK_NAME}</div>
                </div>
                <b>나이</b>
                <div class="field">
                    <div>${USER_AGE}</div>
                </div>
                <b>성별</b>
                <div class="field">
                    <div>${USER_GENDER}</div>
                </div>

                <b>자기 소개</b>
                <div class="area">
                    <textarea><c:out value="${content}"/></textarea>
                    <input type="button" id="idCard" value="신분증 인증" onclick="showPopup();"/>
                    <input type="button" value="수정" id="bu" onclick="mypageUpdate2()">
                </div>

                <div class="place">
                    <h2>지금까지 내가 갔던 장소</h2>
                    <div>${APPO.TITLE}</div>
                    <div>${APPO.TITLE}</div>
                    <div>${APPO.TITLE}</div>
                    <div>${APPO.TITLE}</div>
                    <div>${APPO.TITLE}</div>
                    <div>${APPO.TITLE}</div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>