<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이 페이지 수정</title>
    <link rel="stylesheet" href="resource/css/mypageUpdate.css">
    <link rel="stylesheet" href="resource/css/common.css">
</head>
<body>

<nav>
    <ul>
        <li class="liLogo"><a href="#"><img src="resource/img/logo.png" class="imgLogo"></a></li>
        <li><a href="#">All</a> </li>
        <li><a href="#">ACTIVITY</a> </li>
        <li><a href="#">VEHICLE</a> </li>
        <li><a href="#">WORK</a> </li>
        <li><a href="#">Community</a> </li>
        <li>
            <span class="search-container">
                <input type="text" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </span>
        </li>
        <li class="liMypage"><a href="#"><img src="resource/img/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

        <div class="main">
            <div class="field memverNickName">
               <b>닉네임</b>
               <div>
                   <input type="text" placeholder="닉네임 입력">
               </div>
            </div>
            <div class="field">
                <b>나이</b>
                <input type="text" name="USER_AGE">
            </div>
            <div class="field gender">
                <b>성별</b>
                <div>
                    <label><input type="radio" name="USER_GENDER">남자</label>
                    <label><input type="radio" name="USER_GENDER">여자</label>
                </div>
            </div>
            <div class="field">
                <b>비밀번호</b>
                <input class="userpw" type="password" id="pw1">
            </div>
            <div class="field">
                <b>비밀번호 재확인</b>
                <input class="userpw" type="password" id="pw2">
            </div>
            <div class="field tel-number">
                <b>휴대폰 번호</b>
                <div>
                    <input type="tel" placeholder="전화번호 입력">
                    <input type="button" value="인증번호 받기">
                </div>
                    <input type="number" placeholder="인증번호를 입력하세요">
            </div>
            <div class="field">
                <b>이메일</b>
                <input type="email" name="USER_EMAIL">
            </div>
            <div class="field">
                <b>주소</b>
                <input type="text" name="USER_LOCATION">
            </div>
            <div class="field">
                <b>자기 소개</b>
                <textarea rows="10" cols="50"></textarea>
            </div>

            <input type="submit" value="수정">
        </div>
        <footer>Copyright &copy; Team 2 in FinalProject 2023</footer>

</body>
</html>