<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/userview.css">
    <link rel="stylesheet" href="../css/common.css">



</head>
<body>
<!-------------- header --------------->
<nav>
    <ul>
        <li class="liLogo"><a href="/main"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/activity">ACTIVITY</a> </li>
        <li><a href="/vehicle">VEHICLE</a> </li>
        <li><a href="/work">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>
        </li>
        <li class="liMypage"><a href="/user/view"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<!-------------- main --------------->
<div id="main">
    <section class="main">
        <div class="main_wrap">
            <form class="inputImg" method="post" th:action="@{/upload}" enctype="multipart/form-data">
                <div class="addImage" id="image-show">
<!--                    <img th:src="@{/gen/{user_img}(user_img=${dto?.user_img})}" width="100%" height="100%" alt="이미지가 아파요"/>-->

                </div>
                <input type="file" name="file" accept="image/png, image/gif, image/jpeg">
                <input type="submit" id="submit" value="전송">
            </form>

            <div class="content">
                <b>아이디</b>
                <div class="field">
                    <div th:text="${dto?.user_id}"></div>
                </div>


<!--                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--                <script>-->
<!--                    $(document).ready(function () {-->
<!--                        var user_id = "admin";  // 마이페이지에 보여줄 유저 아이디-->

<!--                        $.ajax({-->
<!--                            url: "/user/view/" + user_id,-->
<!--                            type: "GET",-->
<!--                            success: function (response) {-->
<!--                                $("#user_id").text(response.user_id);-->
<!--                                $("#user_pw").text(response.user_pw);-->
<!--                                $("#user_phone").text(response.user_phone);-->
<!--                                $("#user_email").text(response.user_email);-->
<!--                                $("#user_name").text(response.user_name);-->
<!--                                $("#user_nickname").text(response.user_nickname);-->
<!--                                $("#user_age").text(response.user_age);-->
<!--                                $("#user_gender").text(response.user_gender);-->

<!--                            },-->
<!--                            error: function () {-->
<!--                                alert("Failed to load user profile.");-->
<!--                            }-->
<!--                        });-->
<!--                    });-->
<!--                </script>-->
                <b>비밀번호</b>
                <div class="field">
                    <div th:text="${dto?.user_pw}"></div>
                </div>
                <b>전화번호</b>
                <div class="field">
                    <div th:text="${dto?.user_phone}"></div>
                </div>
                <b>이메일</b>
                <div class="field">
                    <div th:text="${dto?.user_email}"></div>
                </div>
                <b>이름</b>
                <div class="field">
                    <div th:text="${dto?.user_name}"></div>
                </div>
                <b>나이</b>
                <div class="field">
                    <div th:text="${dto?.user_age}"></div>
                </div>
                <b>지역</b>
                <div class="field">
                    <div th:text="${dto?.user_location}"></div>
                </div>

                <b>자기 소개</b>
                <div class="area">
                    <div class=textarea th:text="${dto?.user_content}"></div>
                    <div class="button">
                        <input type="button" value="신분증 인증" th:onclick="showPopup();"/>
                        <input type="button" value="수정" th:onclick="location.href='update'">
                    </div>
                </div>
            </div>


            <div class="page-content">
                <div class="place">
                    <b>지금까지 내가 간 장소</b>
                    <div th:each="share : ${communityList}">
                        <div class="box">
                            <div class="list">
                                <div th:text="${share.share_category}" class="title"></div>
                                <div class="content">
                                    <a th:text="${share.share_title}" th:href="@{/community/view(share_seq=${share.share_seq})}"></a>
                                </div>
                                <div th:text="${#dates.format(share.share_time, 'yy.MM.dd')}" class="date"></div>
<!--                                <div th:text="${share.user_id}" class="writer"></div>-->
                            </div>
                        </div>
                    </div>

                    <div class="pagination-container">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{list?page=1}" aria-label="Previous" th:text="'<<'"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{list?page={page} (page = ${pagination?.prevBlock})}" aria-label="Previous" th:text="'<'"></a>
                                </li>
                                <th:block th:with="start = ${pagination?.startPage}, end = ${pagination?.endPage}">
                                    <li th:each="pageButton : ${numbers?.sequence(start, end)}">
                                        <a class="page-link"
                                           th:href="@{list?page={page} (page = ${pageButton})}"
                                           th:text=${pageButton}
                                           th:style="${pagination?.page == pageButton} ? 'background-color: #FDBFBB; color: white;' : ''"></a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{list?page={page} (page = ${pagination?.nextBlock})}" aria-label="Next"  th:text="'>'"></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{list?page={page} (page = ${pagination?.totalPageCnt})}" aria-label="Next"  th:text="'>>'"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </section>


</div>
</body>
</html>