<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="../css/userview.css">
    <link rel="stylesheet" href="../css/common.css">



</head>
<body>
<!-------------- header --------------->
<nav>
    <ul>
        <li class="liLogo"><a href="/main"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/activity">ACTIVITY</a> </li>
        <li><a href="/vehicle">VEHICLE</a> </li>
        <li><a href="/work">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>
        </li>
        <li class="liMypage"><a href="/user/view"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<!-------------- main --------------->
<div id="main">
    <section class="main">
        <div class="main_wrap">
            <form class="inputImg" method="post" th:action="@{user/update}" enctype="multipart/form-data">
                <div class="addImage" id="image-show">
                    <img th:if="${not #strings.isEmpty(dto?.user_img)}" th:src="@{/download/{user_img}(user_img=${dto?.user_img})}" width="100%" height="100%" />
                </div>
                <input type="file" name="file" accept="image/png, image/gif, image/jpeg">
                <input type="submit" id="submit" value="전송">
            </form>

            <div class="content">
                <b>아이디</b>
                <div class="field">
                    <div th:text="${dto?.user_id}"></div>
                </div>
                <b>전화번호</b>
                <div class="field">
                    <div th:text="${dto?.user_phone}"></div>
                </div>
                <b>이메일</b>
                <div class="field">
                    <div th:text="${dto?.user_email}"></div>
                </div>
                <b>이름</b>
                <div class="field">
                    <div th:text="${dto?.user_name}"></div>
                </div>
                <b>나이</b>
                <div class="field">
                    <div th:text="${dto?.user_age}"></div>
                </div>
                <b>지역</b>
                <div class="field">
                    <div th:text="${dto?.user_location}"></div>
                </div>

                <b>자기 소개</b>
                <div class="area">
                    <div class=textarea th:text="${dto?.user_content}"></div>
                    <div class="button">
                        <button class="button" th:onclick="location.href='/user/updateform?user_id=[[${dto?.user_id}]]'">수정</button>
                    </div>

                </div>
            </div>


            <div th:each="post : ${userPosts}" class="page-content">
                <div class="place">
                    <b>지금까지 내가 간 장소</b>
                    <div th:text="${post}"></div>
                </div>
            </div>

        </div>
    </section>


</div>
</body>
</html>