<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e66bbc4b5b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />

    <link href="../../css/common.css" rel="stylesheet" />
    <link href="../../css/vehicleDetail.css" rel="stylesheet" />
    <title>Vehicle 상세 페이지</title>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:inline="javascript" type="text/javascript" src="../js/vehicleUpdate.js"></script>

    <!-- 아래는 서버로부터 지도를 로딩하기 위해 요청하는 경로 async는 비동기로 로딩하도록해 지도 로딩 중 다른 웹 부분들이 열릴 수 있도록하기 위함 key부분에는 자신의 키를 넣고, 로딩이 완료되면 callback에 지정한 함수를 수행하게 됨.-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD51bMavEVnc-HZy3RwWG_brHEQ4qfXAog&callback=initMap">
    </script>
    <script>
        window.onload = getLocation;
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(locationSuccess, locationError, geo_options);
            } else {
                console.log("지오 로케이션 없음")
            }
        };

        // getLocation
        var latitude, longitude;
        function locationSuccess(p) {
            latitude = p.coords.latitude;
            longitude = p.coords.longitude;
            // 위치를 얻은 후에 날씨 데이터를 가져오기 위해 fetchWeatherData 함수 호출
            // fetchWeatherData(latitude, longitude);
            initMap();
        }

        // locationSuccess
        function locationError(error){
            var errorTypes = {
                0 : "무슨 에런지 모르겠음",
                1 : "위치 허용 안했음.",
                2 : "위치가 안잡힘",
                3 : "응답시간이 지남"
            };
            var errorMsg = errorTypes[error.code];
        }
        // locationError
        var geo_options = {
            enableHighAccuracy: true,
            maximumAge        : 30000,
            timeout           : 27000
        };
        // geo_options
        var map;
        function initMap() {

            var button = document.getElementById('mapBtn');
            // button.addEventListener('click', changeCenter);

            var nowPosition = new google.maps.LatLng(latitude, longitude);
            var map1 = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: nowPosition
            });

            var map2 = new google.maps.Map(document.getElementById('map2'), {
                zoom: 15,
                center: nowPosition
            });

            var mainMarker = new google.maps.Marker({
                position: nowPosition,
                map: map1, map2,
                label: {
                    text: "현위치",
                    color: "#ff7777"
                },
                icon: {
                    url: "logo.png",
                    labelOrigin: new google.maps.Point(100, 55)
                }
            });
        }
    </script>

    <title>Title</title>
</head>
<body>

<!--헤더 영역-->
<nav>
    <ul>
        <li class="liLogo"><a href="/main"><img src="../../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/appointment/activityList/all">ACTIVITY</a> </li>
        <li><a href="/appointment/vehicleList/all">VEHICLE</a> </li>
        <li><a href="/appointment/workList/all">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>
        </li>
        <li class="liMypage"><a href="#"><img src="../../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<div class=”main_content”>

    <!--바디 영역-->
    <div class="appointment_base_wrap">

        <!-- 카테고리 표시 영역 -->
        <article class="wrap_appointment_category">

            <!-- 현재 카테고리 표시 문구 -->
            <div class="show_sub_category_container">
                <!-- <a th:href="@{/appointment/activityAllList}"> -->
                <span class="show_sub_category">VEHICLE </span>
                <!-- </a> -->
                <span class="show_sub_category"> > </span>
                <!-- 세부 카테고리 변경 시 따라서 문구 변경 -->
                <span class="sub_category_ment" th:text="${vehicleDto.appo_category}"> appo_category</span>
            </div>

        </article>


        <!-- 메인 컨텐츠 영역-->
        <article class="wrap_appointment_main" th:each="dto: ${vehicleDto}">

            <!-- 헤드라인(약속 제목, 작성자) 영역-->
            <div class="appointment_detail_headline">
                <div class="appointment_title">
                    <span class="appointment_title_text" th:text="${dto.appo_title}">appo_title</span>
                </div>
                <div class="appointment_host">
                    <div id="appointment_host_img"></div>
                    <span class="appointment_host_text" th:text="${dto.appo_host}">appo_host</span>
                </div>
            </div>


            <!--메인 영역-->
            <div class="wrap_appointment_detail">
                <!--메인 영역 윗줄-->
                <div class="wrap_appointment_detail_row1">
                    <!-- 반복출력 되도록 타임리프 활용
                        세션에서 아이디를 받아와서 호스트/ 유저/ 참여자 구분하여 각각 다른 버튼을 보이기
                        양식 : 폰트 크기 = 기본 1rem
                              시간 표시 = MM월 dd일 HH:mm
                        지도 띄우기 추가 필요-->

                    <!-- 약속 상세 컨테이너 (메인 왼쪽)-->
                    <div class="appointment_detail_container">

                        <div class="appointment_detail_area"><!--약속 상세 테두리-->

                            <div class="appointment_notice">
                                <span class="appointment_ment"><i class="fa-solid fa-bullhorn"></i>&nbsp;&nbsp;공지사항</span>
                                <span class="appointment_text" th:if="${dto.appo_notice == null}" id="nothing_text">(공지사항이 없습니다.)</span>
                                <span class="appointment_text" th:text="${dto.appo_notice}" th:unless="${dto.appo_notice == null}">appo_notice</span>
                            </div>

                            <div class="appointment_detail_area_row1">
                                <div class="appointment_date">
                                    <span class="appointment_ment"><i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;시간</span>
                                    <span class="appointment_text" th:text="${#dates.format(dto.appo_time,'MM월 dd일 HH:mm')}"></span>
                                </div>
                                <div class="appointment_application">
                                    <span class="appointment_ment"><i class="fa-solid fa-users"></i>&nbsp;&nbsp;모집 인원</span>
                                    <span class="appointment_text" th:text="|${dto.appo_min_mem}명 ↔ ${dto.appo_max_mem}명|">n명 ↔ n명</span>
                                </div>
                            </div>

                            <div class="appointment_place">
                                <span class="appointment_ment"><i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;장소</span>
                                <span class="appointment_text" th:text="|${dto.appo_place} → ${dto.appo_place}|">dto.appo_place → dto.appo_place</span>
                                <!-- 지도 컨테이너 -->
                                <div class="appointment_map_container">
                                    <div class="google_map">
                                        <div id="map" style="width: 100%; height: 370px;"></div>
                                    </div>
                                </div>
<!--                                <div class="form_row3">-->
<!--                                    <span class="form_ment">도착지 : </span>-->
<!--                                    <input type="search" placeholder="위치 검색..." id="place" name="appo_place" th:value="*{appo_place}" required>-->
<!--                                    &lt;!&ndash;지도표시 영역&ndash;&gt;-->
<!--                                    <div class="google_map">-->
<!--                                        <div id="map2" style="width: 100%; height: 370px;"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <div class="appointment_content">
                                <span class="appointment_ment"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;내용</span>
                                <span class="appointment_text" th:text="${dto.appo_content}">appo_content</span>
                            </div>

                        </div>

                    </div>

                    <!-- 참여자 목록 & 채팅버튼 영역 (메인 오른쪽) -->
                    <div class="participant_container">
                        <div class="party_count_ment">
                            <span th:text="|현재 ${dto.appo_using}명이 참여 중입니다|"></span>
                        </div>

                        <!-- 참여자 목록 -->
                        <div class="participant_list_container">
                            <div class="participant_list_element" th:if="${dto.appo_using == 0}" id="nothing_userlist">
                                <i class="fa-solid fa-user-xmark"></i>
                                <span>참여자가 없습니다.</span>
                            </div>
                            <!-- appo와 user를 조인, appo_seq로 검색하여 목록 불러오기
                                프로필 이미지 누르면 해당 프로필 페이지로 이동
                                0일 때 참여자 없음 표시 th:if 사용
                            -->
                            <th:block th:each="inpo : ${userinpoDto}" th:unless="${dto.appo_using == 0}">
                                <div class="participant_list_element">
                                    <div class="participant_member_img"></div>
                                    <span class="participant_member_nick">nickname</span>
                                </div>
                            </th:block>
                        </div>
                    </div>

                </div>

                <!--버튼 영역 (메인 아랫줄)-->
                <div class="wrap_button_container">
                    <!--약속 상세 괸련 버튼 컨테이너-->
                    <div class="detail_button_container">
                        <div class="wrap_button_container_row1">
                            <!--참여하기-->
                            <button class="detail_button" id="party_button" th:onclick="@{/appointment/}">약속에 참여하기</button>
                            <!--목록-->
                            <button class="detail_button" id="list_button" th:onclick="|location.href='@{/appointment/vehicleList/all}'|">목록</button>
                        </div>
                        <div class="wrap_button_container_row2">
                            <!--수정하기-->
                            <button class="detail_button" id="update_button" th:onclick="|location.href='@{/appointment/updateVehicleForm?appo_seq={appo_seq}(appo_seq=${dto.appo_seq})}'|">수정</button>
                            <!--삭제하기-->
                            <button class="detail_button" id="delete_button" th:onclick="|location.href='@{/appointment/deleteVehicle?appo_seq={appo_seq}(appo_seq=${dto.appo_seq})}'|">삭제</button>
                        </div>
                    </div>

                    <div class="chat_button_container" id="app" v-cloak>
                        <!-- Chat join button container -->
                        <input type="number" class="detail_button" id="appo_seq_input" v-model="appo_seq" placeholder="Enter appo_seq value" hidden="hidden">
                        <input type="text" class="detail_button" id="chat_button" v-model="room_name" v-on:keyup.enter="createRoom" placeholder="개설할 채팅방 이름을 입력하세요.">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" @click="createRoomWithAppoSeq">채팅방 생성</button>
                        </div>
                    </div>

                </div>
            </div>
        </article>
    </div>
</div>
</body>

<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>

    var vm = new Vue({
        el: '#app',
        data: {
            appo_seq: '', // Added: appo_seq value
            room_name: '',
            chatrooms: []
        },

        created() {
            this.findAllRoom();
        },
        methods: {

            findAllRoom: function() {
                axios.get('/chat/rooms').then(response => {
                    this.chatrooms = response.data;
                });
            },
            createRoomWithAppoSeq: function() { // Changed: Added createRoomWithAppoSeq method
                if (this.room_name === "") {
                    alert("공백은 허용하지 않습니다.");
                    return;
                } else if (this.appo_seq === "") { // Added: Check if appo_seq value is empty
                    alert("Please enter the appo_seq value");
                    return;
                } else {
                    var params = new URLSearchParams();
                    params.append("name", this.room_name);
                    params.append("appo_seq", this.appo_seq); // Added: Pass the appo_seq value
                    axios
                        .post('/chat/room', params)
                        .then(response => {
                            alert(response.data.room_name + " 방이 생성되었습니다 ! ");
                            this.room_name = '';
                            this.appo_seq = ''; // Added: Reset appoSeq value
                            this.findAllRoom();
                            this.enterRoom(response.data.appo_seq, response.data.room_name);
                        })
                        .catch(response => {
                            alert("당신이 이미 생성한 채팅방입니다.");
                        });
                }
            },

            enterRoom: function(appo_seq, roomName) {
                var sender = localStorage.getItem('wschat.sender');
                if (!sender) {
                    sender = prompt('닉네임을 입력하세요');
                    localStorage.setItem('wschat.sender', sender);
                }
                localStorage.setItem('wschat.appo_seq', appo_seq);
                window.location.href = "/chat/room/" + appo_seq;
            }
        }
    });
    var urlParams = new URLSearchParams(window.location.search);
    var appoSeqParam = urlParams.get('appo_seq');
    if (appoSeqParam) {
        var appoSeqInput = document.getElementById('appo_seq_input');
        appoSeqInput.value = appoSeqParam;
        vm.appo_seq = parseInt(appoSeqParam);
    }
</script>
</html>