<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />

        <link href="../css/common.css" rel="stylesheet" />
        <link href="../css/vehicleBaseListPage.css" rel="stylesheet" />
        <title>Document</title>
        <script src="../js/vehicleBaseListPage.js"></script>
    </head>
    <body>
        <!--헤더 영역-->
        <nav>
            <ul>
                <li class="liLogo"><a href="#"><img src="../image/logo.png" class="imgLogo"></a></li>
                <li><a href="#">All</a> </li>
                <li><a href="#">ACTIVITY</a> </li>
                <li><a href="#">VEHICLE</a> </li>
                <li><a href="#">WORK</a> </li>
                <li><a href="#">Community</a> </li>
                <li>
            <span class="search-container">
                <input type="text" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </span>
                </li>
                <li class="liMypage"><a href="#"><img src="../image/mypage.png" class="imgMypage"></a></li>
            </ul>
        </nav>



        <!--바디 영역-->
        <div class="appointment_base_wrap">

            <!--세부 카테고리 영역-->
            <article class="sub_category">
                <div class="sub_menu">
                    <a href="#"><span class="sub_menu_text">카풀</span></a>
                </div>
                <div class="sub_menu">
                    <a href="#"><span class="sub_menu_text">택시</span></a>
                </div>
            </article>
            
 

            <!-- 리스트 정렬 & 검색 영역 -->
            <article class="wrap_appointment_sort_search">

                <!-- 검색 영역-->
                <div class="appointment_search_container">
                    <!-- 현재 카테고리 표시 문구 -->
                    <div class="show_sub_category_container">
                        <span class="show_sub_category">VEHICLE </span>
                        <span class="show_sub_category"> > </span>
                        <!-- 세부 카테고리 변경 시 따라서 바뀌어야 함 -->
                        <span class="sub_category_ment"> 전체</span>
                    </div>

                    <form action="#">
                        <!--셀렉트 박스-->
                        <select name="appointment_base_search_filter" >
                            <option value="">전체</option>
                            <option value="subCategory">세부카테고리</option>
                            <option value="appointmentTitle">약속명</option>
                            <option value="appointmentPlace">약속장소</option>
                            <option value="writerNickname">작성자</option>
                        </select>   
                        
                        <input type="search" id="search_length" name="appointment_search" placeholder="약속 세부 검색..." >

                        <input type="submit" value="search">
                        
                    </form>
                </div>

                <!--정렬체크 영역-->
                <div class="sort_checkbox_container">
                    <div class="appointment_list_sort">
                        <label>
                            <span class="sort_ment">가까운 시간 순 <input type="checkbox" name="sort_what_close" value="sort_time_close" onclick="NoMultiChk(this)"></span>
                        </label>
                    </div>
                    <div class="appointment_list_sort">
                        <label>
                            <span class="sort_ment">가까운 위치 순 <input type="checkbox" name="sort_what_close" value="sort_place_close" onclick="NoMultiChk(this)"></span>
                        </label>
                    </div>
                </div>

            </article>


            <!-- 메인 컨텐츠 영역-->
            <article class="wrap_appointment_main">

                <!-- 카테고리 약속 리스트 컨테이너 (메인 왼쪽)-->
                <div class="appointment_list_container">
                    <!--약속 리스트 / 기본 세부 카테고리:전체 / 페이지 당 12개-->
                    <!-- 반복출력 되도록 jstl 등 활용 필요
                        양식 통일 필요 (요소 순서, 시간표시, 글자 색, 크기)
                        커서 올렸을 때 지도 띄우기 추가 필요-->
                    <div class="appointment_list_area">
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 / 11 : 30</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 싸게싸게 가실 분 있으신지요~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">05 - 26 - 11 : 30</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 가실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 11시 30분</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 / 11 : 30</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                        <div class="appointment_list_element">
                            <a href="#">
                                <div class="appointment_date">
                                    <span class="appointment_date_text">5 / 26 / 11 : 30</span>
                                </div>
                                <div class="appointment_place">
                                    <div class="appointment_start_place">
                                        <span class="appointment_start_place_text">멀티캠퍼스 세종</span>
                                    </div>
                                    <span class="appointment_place_text">→</span>
                                    <div class="appointment_end_place">
                                        <span class="appointment_end_place_text">뚝섬 유원지</span>
                                    </div>
                                </div>
                                <div class="appointment_title">
                                    <span class="appointment_title_text">같이 노실 분~</span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- 페이징 영역 -->
                    <div class="paging_container">
                        <!--페이징 넘버 표시할 곳-->
                        <span class="paging_num"> 1  2  3  4  5  6</span>
                    </div>

                </div>

                <!-- 지도 & 약속생성 버튼 영역 (메인 오른쪽) -->
                <div class="wrap_map_button_sort">
                    <!-- 지도 컨테이너 -->
                    <div class="appointment_map_container">
                        <div class="map_container">
                        <!-- 지도 들어갈 공간 -->
                        </div>
                        <span class="map_container_ment">즐기고 싶은 장소를 찾아보세요!</span>
                    </div>

                    <!-- 약속 생성 버튼 컨테이너-->
                    <div class="appointment_create_button_container">
                        <!--약속 생성 버튼 원형-->
                        <a href="#">
                           <div class="create_button_circle">
                            <span class="create_button_text">+</span>
                            </div> 
                        </a>
                    </div>
                </div>
                

                

            </article>
        </div>

    </body>
</html>