<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e66bbc4b5b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../css/workwrite.css">
    <link rel="stylesheet" href="../css/common.css">

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:inline="javascript" type="text/javascript" src="../js/vehicleUpdate.js"></script>

    <title>work생성페이지</title>

</head>

<body>

<!--헤더 영역-->
<nav>
    <ul>
        <li class="liLogo"><a href="/main"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/appointment/activityList/all">ACTIVITY</a> </li>
        <li><a href="/appointment/vehicleList/all">VEHICLE</a> </li>
        <li><a href="/appointment/workList/all">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>
        </li>
        <li class="liMypage"><a href="#"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<div class=”main_content”>

    <!--바디 영역-->
    <div class="appointment_form_wrap">

        <!--카테고리 & 생성멘트 표시-->
        <section class="category_container">
            <span class="category_ment1">WORK</span>
            <i class="fa-regular fa-calendar-plus"></i>
            <span class="category_ment2">약속 생성하기</span>
        </section>

        <!--생성 양식 영역-->
        <section class="wrap_insert_form">
            <form action="/appointment/insertWork" th:action method="post" th:object="${workSaveForm}">
                <div class="form_row1">
                    <!--카테고리 설정-->
                    <div class="inputform_subcategory">
                        <select th:field="*{appo_category}" th:errorclass="field-error">
                            <option value="">세부 카테고리&nbsp;</option>
                            <option value="유급">유급</option>
                            <option value="무급">무급</option>
                        </select>
                        <div class="field-error" th:errors="*{appo_category}">
                            카테고리 오류
                        </div>
                    </div>

                    <!--약속명 설정-->
                    <!--약속명 설정-->
                    <div class="inputform_title">
                        <i class="fa-solid fa-quote-left"></i>
                        <spen class="form_ment" for="appo_title"> 약속명 :&nbsp;
                            <input type="text" th:field="*{appo_title}" th:errorclass="field-error" placeholder="제목">
                            <i class="fa-solid fa-quote-right"></i>

                        </spen>
                        <div class="field-error" th:errors="*{appo_title}">
                            약속 제목 오류
                        </div>
                    </div>
                </div>


                <!--약속시간 설정-->
                <!-- 기본 시간설정을 js로 현재 시간 받아서 표시하기
                    write_date : 날짜 값 / write_time : 시간 값 -> 컨트롤러에서 합쳐서 insert
                    showTimeOption() : 선택 시 div.selected_choosetime 표시
                -->
                <fieldset class="inputform_time">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 시간을 정해주세요!&nbsp;</legend>

                    <div class="select_date">
                        <label>
                                <span class="form_ment">날짜 :
                                    <input type="date" name="appo_date1" class="add_time_value" min="2023-01-01" max="2024-01-01"
                                           th:value="*{#dates.format(appo_time,'yyyy-MM-dd')}">
                                </span>
                        </label>
                        <div class="field-error" th:errors="*{appo_time}">
                            약속 시간 오류
                        </div>
                    </div>

                    <div class="select_time_type">
                        <span class="form_ment">시간 : </span>
                        <label title="참여자들이 상의하여 자유롭게 시간을 결정하기 위한 옵션입니다.">
                            <input type="radio" name="option_time" value="allday" th:checked="${option_time eq 'allday' ? 'checked' : ''}"> All Day
                        </label>
                        <div class="form_row2">
                            <label title="정확한 약속시간을 설정하기 위한 옵션입니다.">
                                <input type="radio" name="option_time" value="choosetime"
                                       th:checked="${option_time eq 'choosetime' ? 'checked' : ''}"> 날짜 선택
                            </label>
                            <!--날짜선택 눌렀을 시 표시-->
                            <div class="selected_choosetime">
                                <i class="fa-solid fa-caret-down"></i>
                                <input type="time" name="appo_date2" class="add_time_value" th:value="*{#dates.format(appo_time,'HH:mm')}">
                            </div>
                        </div>
                        <input type="hidden" name="appo_time">
                    </div>


                </fieldset>


                <!--모집인원 설정-->
                <fieldset class="inputform_personnel">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 모집할 인원 수를 정해주세요!&nbsp;</legend>
                    <!--최소인원 설정-->
                    <span class="form_ment">최소 인원 :<input type="number" th:field="*{appo_min_mem}" th:errorclass="field-error" value="1" min="1" max="20"></span>
                    <div class="field-error" th:errors="*{appo_min_mem}">
                        최소인원 오류
                    </div>
                    <!--최대인원 설정-->
                    <span class="form_ment">최대 인원 : <input type="number" th:field="*{appo_max_mem}" th:errorclass="field-error" value="1" min="1" max="20"></span>
                    <div class="field-error" th:errors="*{appo_max_mem}">
                        최대인원 오류
                    </div>
                </fieldset>

                <!--임금 설정-->
                <!--카테고리 유급 설정 시 나타나도록 하면 굿-->
                <fieldset class="inputform_pay">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 지급할 금액을 정해주세요!&nbsp;</legend>
                    <span class="form_ment">임금(시급) :
                        <input type="number" name="appo_pay" step="10" value="9160" title="현재 최저시급은 9160원입니다."
                               th:field="*{appo_pay}" th:errorclass="field-error" required>&nbsp;원</span>
                    <div class="field-error" th:errors="*{appo_pay}">
                        임금 오류
                    </div>
                </fieldset>

                <!--약속장소 설정-->
                <fieldset class="inputform_place">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 만날 장소를 정해주세요!&nbsp;</legend>
                    <!--장소 검색기능 필요!!-->
                    <span class="form_ment">위치 : </span>
                    <input type="search" th:field="*{appo_place}" th:errorclass="field-error" placeholder="위치 검색...">
                    <div class="field-error" th:errors="*{appo_place}">
                        위치 오류
                    </div>
                    <!--지도표시 영역-->
                    <div class="map_container">
                        <div></div>
                    </div>

                </fieldset>

                <!--약속 내용 작성-->
                <fieldset class="inputform_content">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 약속에 대해 설명해주세요!&nbsp;</legend>
                    <textarea th:field="*{appo_content}" th:errorclass="field-error" cols="50" rows="10" placeholder="내용..."></textarea>
                    <div class="field-error" th:errors="*{appo_content}">
                        내용 오류
                    </div>
                </fieldset>

                <!--버튼 영역-->
                <div class="inputform_button">
                    <button type="submit">등록</button>
                    <button>취소</button>
                </div>

            </form>
        </section>


    </div>

</div>
<style>
    .field-error{
        order-color: #dc3545;
        color: #dc3545;
    }
</style>

<footer>
    <div> Team 2 in FinalProject 2023</div>
</footer>
</body>

</html>