<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/e66bbc4b5b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../css/workUpdate.css">
    <link rel="stylesheet" href="../css/common.css">

    <title>work수정페이지</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script th:inline="javascript" type="text/javascript" src="../js/vehicleUpdate.js"></script>

    <!-- 아래는 서버로부터 지도를 로딩하기 위해 요청하는 경로 async는 비동기로 로딩하도록해 지도 로딩 중 다른 웹 부분들이 열릴 수 있도록하기 위함 key부분에는 자신의 키를 넣고, 로딩이 완료되면 callback에 지정한 함수를 수행하게 됨.-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD51bMavEVnc-HZy3RwWG_brHEQ4qfXAog&callback=initMap">
    </script>
    <script>
        window.onload = getLocation;
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(locationSuccess, locationError, geo_options);
            } else {
                console.log("지오 로케이션 없음")
            }
        };

        // getLocation
        var latitude, longitude;
        function locationSuccess(p) {
            latitude = p.coords.latitude;
            longitude = p.coords.longitude;
            // 위치를 얻은 후에 날씨 데이터를 가져오기 위해 fetchWeatherData 함수 호출
            // fetchWeatherData(latitude, longitude);
            initMap();
        }

        // locationSuccess
        function locationError(error){
            var errorTypes = {
                0 : "무슨 에런지 모르겠음",
                1 : "위치 허용 안했음.",
                2 : "위치가 안잡힘",
                3 : "응답시간이 지남"
            };
            var errorMsg = errorTypes[error.code];
        }
        // locationError
        var geo_options = {
            enableHighAccuracy: true,
            maximumAge        : 30000,
            timeout           : 27000
        };
        // geo_options
        var map;
        function initMap() {

            var button = document.getElementById('mapBtn');
            // button.addEventListener('click', changeCenter);

            var nowPosition = new google.maps.LatLng(latitude, longitude);
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: nowPosition
            });

            var mainMarker = new google.maps.Marker({
                position: nowPosition,
                map: map,
                label: {
                    text: "현위치",
                    color: "#ff7777"
                },
                icon: {
                    url: "logo.png",
                    labelOrigin: new google.maps.Point(100, 55)
                }
            });
        }
    </script>

</head>

<body>

<!--헤더 영역-->
<nav>
    <ul>
        <li class="liLogo"><a href="/main"><img src="../image/logo.png" class="imgLogo"></a></li>
        <li><a href="/all">All</a> </li>
        <li><a href="/appointment/activityList/all">ACTIVITY</a> </li>
        <li><a href="/appointment/vehicleList/all">VEHICLE</a> </li>
        <li><a href="/appointment/workList/all">WORK</a> </li>
        <li><a href="/community/list">Community</a> </li>
        <li>
            <form action="/search" method="GET" class="search-container">
                <input type="text" name="keyword" placeholder="약속을 찾아봐요!">
                <input type="submit" value="Search">
            </form>
        </li>
        <li class="liMypage"><a href="#"><img src="../image/mypage.png" class="imgMypage"></a></li>
    </ul>
</nav>

<div class=”main_content”>

    <!--바디 영역-->
    <div class="appointment_form_wrap">

        <!--카테고리 & 수정멘트 표시-->
        <section class="category_container">
            <span class="category_ment1">WORK</span>
            <i class="fa-solid fa-pencil"></i>
            <span class="category_ment2">약속 수정하기</span>
        </section>

        <!--생성 양식 영역-->
        <section class="wrap_insert_form" >
            <form th:action="@{/appointment/updateWork}" method="post" th:object="${workDto}">
                <input type="hidden" name="appo_seq" th:value="*{appo_seq}">
                <div class="form_row1">
                    <!--카테고리 설정-->
                    <div class="inputform_subcategory">
                        <select name="appo_category" id="select_subcategory" th:value="*{appo_category}" required>
                            <option value="">세부 카테고리&nbsp;</option>
                            <option th:selected="*{appo_category}=='유급'">유급</option>
                            <option th:selected="*{appo_category}=='무급'">무급</option>
                        </select>
                    </div>

                    <!--약속명 설정-->
                    <div class="inputform_title">
                        <i class="fa-solid fa-quote-left"></i>
                        <spen class="form_ment"> 약속명 :&nbsp;
                            <input type="text" name="appo_title" placeholder="제목" th:value="*{appo_title}" required>
                        </spen>
                        <i class="fa-solid fa-quote-right"></i>
                    </div>

                </div>


                <!--약속시간 설정-->
                <!-- 기본 시간설정을 js로 현재 시간 받아서 표시하기
                    appo_date1 : 날짜 값 / appo_date2 : 시간 값 -> js에서 합쳐서 update
                    div.selected_choosetime : js에서 input:radio'option_time'에 따라 선택
                -->
                <fieldset class="inputform_time">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 시간을 정해주세요!&nbsp;</legend>

                    <div class="select_date">
                        <label>
                                <span class="form_ment">날짜 :
                                    <input type="date" name="appo_date1" class="add_time_value" min="2023-01-01" max="2024-01-01"
                                           th:value="*{#dates.format(appo_time,'yyyy-MM-dd')}" required>
                                </span>
                        </label>
                    </div>

                    <div class="select_time_type">
                        <span class="form_ment">시간 : </span>
                        <label title="참여자들이 상의하여 자유롭게 시간을 결정하기 위한 옵션입니다.">
                            <input type="radio" name="option_time" value="allday"
                                   th:checked="${option_time eq 'allday' ? 'checked' : ''}"> All Day
                        </label>
                        <div class="form_row2">
                            <label title="정확한 약속시간을 설정하기 위한 옵션입니다.">
                                <input type="radio" name="option_time" value="choosetime"
                                       th:checked="${option_time eq 'choosetime' ? 'checked' : ''}"> 날짜 선택
                            </label>
                            <!--날짜선택 눌렀을 시 표시-->
                            <div class="selected_choosetime">
                                <i class="fa-solid fa-caret-down"></i>
                                <input type="time" name="appo_date2" class="add_time_value" th:value="*{#dates.format(appo_time,'hh:mm')}" required>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="appo_time">
                </fieldset>

                <!--모집인원 설정-->
                <fieldset class="inputform_personnel">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 모집할 인원 수를 정해주세요!&nbsp;</legend>
                    <!--최소인원 설정-->
                    <span class="form_ment">최소 인원 :<input type="number" name="appo_min_mem" th:value="*{appo_min_mem}" min="1"
                                                          max="20" required></span>
                    <!--최대인원 설정-->
                    <span class="form_ment">최대 인원 : <input type="number" name="appo_min_mem" th:value="*{appo_min_mem}" min="1"
                                                           max="20" required></span>
                </fieldset>

                <!--임금 설정-->
                <!--카테고리 유급 설정 시 나타나도록 하면 굿-->
                <fieldset class="inputform_pay">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 지급할 금액을 정해주세요!&nbsp;</legend>
                    <span class="form_ment">임금(시급) :<input type="number" name="appo_pay" step="10" th:value="*{appo_pay}"
                                                           title="현재 최저시급은 9160원입니다." required>&nbsp;원</span>
                </fieldset>

                <!--약속장소 설정-->
                <fieldset class="inputform_place">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 만날 장소를 정해주세요!&nbsp;</legend>
                    <!--장소 검색기능 필요!!-->
                    <span class="form_ment">위치 : </span>
                    <input type="search" placeholder="위치 검색..." id="place" name="appo_place" th:value="*{appo_place}" required>
                    <!--지도표시 영역-->
                    <div class="google_map">
                        <div id="map" style="width: 100%; height: 370px;"></div>
                    </div>

                </fieldset>

                <!--약속 내용 작성-->
                <fieldset class="inputform_content">
                    <legend>&nbsp;<i class="fa-solid fa-plus"></i> 약속에 대해 설명해주세요!&nbsp;</legend>
                    <textarea name="appo_content" cols="50" rows="10" placeholder="내용..." th:value="*{appo_content}"
                              th:text="*{appo_content}"></textarea>
                </fieldset>

                <!--버튼 영역-->
                <div class="inputform_button">
                    <button type="submit">수정</button>
                    <button th:onclick="|location.href='@{/appointment/detailWork(appo_seq=*{appo_seq})}}'|">취소</button>
                </div>

            </form>
        </section>


    </div>

</div>


<footer>
    <div> Team 2 in FinalProject 2023</div>
</footer>
</body>

</html>