<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Websocket ChatRoom</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
    .chat-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }
    .chat-header {
      padding: 10px;
      text-align: center;

      color: #FF7777; /* 변경: 글자색상 */
    }
    .chat-messages {
      flex: 1;
      overflow-y: auto;
      padding: 60px;
    }
    .chat-messages li {
      margin-bottom: 10px;
      word-break: break-all;
    }
    .chat-input {
      padding: 20px;
      background-color: #f8f9fa;
    }
  </style>
</head>
<body>
<div class="container" id="app" v-cloak>
  <div class="chat-container">
    <div class="chat-header">
      <h3 th:text="${chatRoom1.room_name}"></h3>
    </div>
    <!--  <div class="input-group mt-5">-->
    <!--    <div class="input-group-prepend">-->
    <!--      <label class="input-group-text">Message</label>-->
    <!--    </div>-->
    <!--    <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">-->
    <!--    <div class="input-group-append">-->
    <!--      <button class="btn btn-primary" type="button" @click="sendMessage">Send</button>-->
    <!--    </div>-->
    <!--  </div>-->
    <ul class="list-group chat-messages">
      <li class="list-group-item" v-for="message in messages">
        {{ message.user_nickname }} - {{ message.message }}
        <span style="float: right">{{ formatDate(message.timestamp) }}</span>
      </li>
    </ul>
    <div class="chat-input">
      <div class="input-group" >
        <div class="input-group-prepend">
          <label class="input-group-text">Message</label>
        </div>
        <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" @click="sendMessage">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>

<script th:inline="javascript">
  var sock = new SockJS("/ws-stomp");
  var ws = Stomp.over(sock);
  var reconnect = 0;
  var vm = new Vue({
    el: '#app',
    data: {
      appo_seq: '',
      room: {},
      sender: '', // 수정된 부분
      message: '',
      messages: [],
      timestamp: ''
    },
    created() {
      this.appo_seq = localStorage.getItem('wschat.appo_seq');
      this.sender = [[${loginUser.user_nickname}]];
      this.findRoom();
      this.getChatMessages();
    },
    methods: {
      scrollToBottom: function() {
        var chatContainer = document.querySelector('.chat-messages');
        chatContainer.scrollTop = chatContainer.scrollHeight;
      },
      findRoom: function() {
        axios.get('/chat/room/' + this.appo_seq).then(response => {
          this.room = response.data;
        });
        axios.get('/chats/room/' + this.appo_seq).then(response => {
          this.messages = response.data;
          // 가장 최근 메시지를 가져와서 표시
          if (this.messages.length > 0) {
            var latestMessage = this.messages[this.messages.length - 1];
            this.latestMessage = latestMessage.message;
            this.$nextTick(this.scrollToBottom);
          }
        });
      },
      formatDate: function(timestamp) {
        var date = new Date(timestamp);
        var options = {
          year: 'numeric',
          month: 'numeric',
          day: 'numeric',
          hour: 'numeric',
          minute: 'numeric',
          second: 'numeric'
        };
        return date.toLocaleString('ko-KR', options);
      },


      sendMessage: function() {
        ws.send("/pub/chat/message", {}, JSON.stringify({
          type: 'TALK',
          appo_seq: this.appo_seq,
          user_nickname: this.sender,
          message: this.message
        }));
        this.message = '';
        this.$nextTick(this.scrollToBottom);
      },
      recvMessage: function(recv) {
        if (recv.type == 'ENTER') {
          this.messages.push({
            "type": recv.type,
            "user_nickname": '★',
            "message": this.sender + '님 입장~! ★', // 수정된 부분
            "timestamp": new Date()
          });
        } else {
          this.messages.push({
            "type": recv.type,
            "user_nickname": recv.user_nickname,
            "message": recv.message,
            "timestamp": new Date(recv.timestamp)
          });
        }
      }
    }
  });

  function connect() {
    ws.connect({}, function(frame) {
      ws.subscribe("/sub/chat/room/" + vm.$data.appo_seq, function(message) {
        var recv = JSON.parse(message.body);
        vm.recvMessage(recv);
      });
      ws.send("/pub/chat/message", {}, JSON.stringify({
        type: 'ENTER',
        appo_seq: vm.$data.appo_seq,
        user_nickname: vm.$data.sender
      }));
    }, function(error) {
      if (reconnect++ <= 5) {
        setTimeout(function() {
          console.log("Connection reconnecting...");
          sock = new SockJS("/ws-stomp");
          ws = Stomp.over(sock);
          connect();
        }, 10 * 1000);
      }
    });
  }
  connect();
</script>
</body>
</html>
